.alert {
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    border: thin solid grey;
    padding: 1.2em;
    height: 100px;
}

.alert .timer {
    color: rgba(255, 203, 154, 1);
}

.alert img{
    display: inline-block;
    float: left;
}

.alert div.float-right {
    float: right;
    width: 75%;
}