
<div class="header header--main">
    <h1 class="heading1 heading1--white heading1--outlined">Warframe Alerts</h1>

    <nav class="header__nav">
        <ul class="header__links ul-inline">
            <li><a class="header__link active--link" href="#">PC</a></li>
            @*<li><a class="header__link" href="#">Placeholder 1</a></li>
            <li><a class="header__link" href="#">Placeholder 2</a></li>
            <li><a class="header__link" href="#">Placeholder 3</a></li>*@
        </ul>
    </nav>
</div>